.subtite-text {
  padding: 15px;
}

.card-items {
  border: 0px;
}

.image-badge {
  padding-top: 5px;
  width: 75px;
  height: 32px;
}

.item-length {
  text-align: left;
  padding: 10px;
}

.item-body {
  text-align: left;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
  background-color: #dc218a;
  border-color: #6c757d;
}
